.img-wrapper{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.img{
    max-width: 100%;
    max-height: 100%;
}
.carousel-inner{
    padding: 1em;
}
.card{
    margin : 0.5em;
    border-radius: 0;
    /*box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);*/
}
.carousel-control-prev, .carousel-control-next{
    width: 6vh;
    height: 6vh;
    background-color: #E1E1E1;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
}
.carousel-control-prev:hover, .carousel-control-next:hover{
    opacity: 0.8;
}
.title{
    color: #ff6000;
    font-weight: bold;
}
.centered{
    text-align:center;
}
#menu1{
    left: 50% !important;
    right: auto !important;
    transform: translate(-15%, 0) !important;
}
#menu2{
    left: 50% !important;
    right: auto !important;
    transform: translate(-33%, 0) !important;
}
#menu3{
    left: 50% !important;
    right: auto !important;
    transform: translate(-50%, 0) !important;
}
#menu4{
    left: 50% !important;
    right: auto !important;
    transform: translate(-63%, 0) !important;
}
#menu5{
    left: 50% !important;
    right: auto !important;
    transform: translate(-75%, 0) !important;
}
#menu6{
    left: 50% !important;
    right: auto !important;
    transform: translate(-90%, 0) !important;
}
#menu7{
    left: 50% !important;
    right: auto !important;
    transform: translate(-105%, 0) !important;
}
input.empty {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.classic{
    border-style: solid ;
    border-color: rgba(22, 22, 26, 0.5);
    border-radius: 8px;
}
.btn-dark-outline-top{
    background-color: rgba(22, 22, 26, 0.5);
    border-radius: 5px;
}
.ad{
    width: 100%; 
    height: 6rem;
}
.links{
    text-decoration: none;
    color: #777777;
    font-weight:500;
    font-size: smaller;
}
.links-top{
    text-decoration: none;
    color: #777777;
    font-weight: light;
    font-size: smaller;
    margin-left: 5px;
    margin-right: 5px;
}
.links:hover ,.links-top:hover{
    color: #000000;
}
.footer-images{
    width: 150px;
    height: 150px;
    transform: translate(50%, 0);
}
.center-me {
    margin: 0 auto;
  }
#more {
    display: none;
}
.horizon{
    display: inline-block;
}
.indicators{
    width: 6vh;
    height: 6vh;
    background-color: #ffffff;
    
}
.indicators:hover{
    background-color: #ff6000;
}
.discount{
    width: 40px;
    height: 40px;
    background-color: #f90909 ;
    color: #ffffff;
    text-align: center;
}
.stok{
    display: flex;
    align-items: center;
    background: #fff;
    padding: 4px;
    border: 2px solid #f0f0f0;
    border-radius: 16px;
    clear: both;
    width: max-content;
  }
.time{
    border-radius: 5px;
    display: inline-block;
    color: #000;
    height: 50px;
    min-width: 60px;
    background-color: #fff;
    border: 1px solid #919191;
    text-align: center;
    transform: translate(60%, 0);
  }
.bordered{
    border: 1px solid #DDDDDD;
    border-radius: 12px;
}
.dropdown:hover >.dropdown-menu{
    display: block;
    margin-top: .125em;
}
#nav ul li ul{
    max-height:250px;
    overflow:auto;
}
.cards:hover >.card-body >.btn{
    display: block;
}
.cards >.card-body >.btn{
    display: none;
}
.cards{
    height: 380px;
}
.fixed{
    max-height: 1500px;
    overflow: auto;
}
::-webkit-scrollbar {
  width: 5px; 
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 12px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.grey:hover{
    color: #919191;
}
.grey:hover > .orange{
    color:#ff6000;
}
.orange:hover{
    color:#ff6000;
}
.blued:hover{
    color:#537ecf;
}
.blue{
    color: #537ecf;
}
.NumberBox{
    background-color: #537ecf;
    border: 1px solid #537ecf;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
}
.NumberBox2{
    border: 2px solid #AAAAAA;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.linksv2{
    color: #000000;
    text-decoration: none;
}
.linksv3{
    color:#444444;
    text-decoration: none;
}
.borderedv2{
    border: 1px solid #AAAAAA;
    border-radius: 12px;
}
.userPicture{
    width: 40px;
    height: 40px;
    background-color: #AAAAAA;
    border: 1px solid #AAAAAA;
    border-radius: 20px;
}
.circle{
    border: 1px solid #AAAAAA;
    border-radius: 50%;
}
.orangeinal{
    background-color: #FF6000;
}
.cyan{
    background-color: #49C7ED;
}
.lilac{
    background-color: #7723DB;
}
.green{
    background-color: #57B900;
}
.green2{
    color: #57B900;
}
.grey{
    color: #777;
}
.purple{
    background-color: #5D196A;
}
.red{
    color:#ed433e;
}
.backred{
    background-color:#ed433e;
}
.red2:hover{
    color: #ed433e;
}
.orangev2{
    color: #FF6000;
}
.td-under{
    text-decoration: underline;
}
.bgDarkBlue{
    background-color:rgba(83, 126, 207,0.1);
}
.unstyled{
    list-style-type: none;
}
.w-22{
    width: 22px;
}
.w-60{
    width: 60%;
}
.w-390{
    width: 390px;
}
.w-600{
    width: 865px;
}
.w-200{
    width: 200px;
}
.rem-05{
    height: 0.5rem;
}
.e2e3e4{
    color: #e2e3e4;
}
.backdark{
    background-color:rgba(22, 22, 26, 0.5);
}
.basket{
    text-align: center;
    height: 40px;
    width: 120px;
}
#firstCarousel{
    background: url(images/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.menus{
    width: 75rem;
}
.hepsiburada{
    width: 216px; height: 36px;
}
.lastimage{
    background-color: #f1f1f1;
}
.borderedv3{
    border: 1px solid #FFFFFF;
    border-radius: 12px;
}
.borderedv4{
    border: 2.5px solid #AAAAAA;
}
.col-3SlideImg{
    display: block; 
    transform: translate(50% , 0);
}
.translate10{
    transform: translate(10% , 0);
}
.dropdownScroll{
    max-height: 200px; 
    overflow: auto;
}
.categorySize{
    box-sizing: border-box;
    max-height: 300px;
    overflow: auto;
}
.listItemScroll{
    max-height: 150px; 
    overflow: auto;
}
.starColor{
    color: #F69F29;
}
.bgstarColor{
    background-color:#F69F29;
}
.searchBarSize{
    width: 4.375rem;
    height: 2.1875rem; 
    display: inline;
}
.searchSubmit{
    border:1px solid #e2e3e4; 
    border-radius: 8px; 
    background-color: #e2e3e4; 
    margin-left: 10px;
}
.sellerDropdown{
    border: none; 
    background-color: #ffffff;
}
.location-button{
    background-color:rgba(255, 96, 0,0.15);
    color: #FF6000;
}
.order-button{
    background-color:rgba(0, 0, 0,0.15); 
    border-radius: 12px; 
    color:rgba(0, 0, 0,0.4);
}
.progress-showMore{
    background-color: #FF6000; 
    color: #ffffff;
    transform: translate(220%,0);
}
.addBasket{
    background-color: #FF6000;
    color: white; 
    font-weight: bold;
}
.fs-lg{
    font-size: large;
}
.fs-md{
    font-size: medium;
}
.fs-sm{
    font-size: small;
}
.fs-xs{
    font-size: x-small;
}
.hemenAl{
    width: 10rem; 
    background-color: #FF6000; 
    color: white; 
    border-radius: 5px; 
    padding-left: 5px; 
    padding-right: 5px;
}
.progress1{
    width: 31.25rem;
    transform: translate(57%,0);
}
.progress-bar1{
    width: 1%; 
    background-color: #777;
}
.progress2{
    height: 20px; 
    border: 7px solid #eeeeee; 
    border-radius: 12px;
}
.progress3{
    height: 20px; 
    border: 5px solid #eeeeee; 
    border-radius: 12px;
}
.callCenter{
    text-align: center; 
    display: block;
}
.h615{
    height: 38.4375rem;
}
.productProperty{
    background-color: #efefef; 
    border-left: 1px solid #e2e3e4; 
    border-radius: 8px;
}
.br18{
    border-radius: 18px;
}
.point{
    background-color: #40AD40; 
    color:white;
    font-weight: bold; 
    font-size: x-small; 
    border-radius: 5px; 
    padding: 1px;
}
.td-none{
    text-decoration: none;
}
.h30r5{
    height: 1.875rem; 
    border-radius: 5px;
}
.backwhite{
    background-color: #ffffff;
}
.white{
    color: #ffffff;
}
.backf5{
    background-color: #f5f5f5;
}
.question{
    background-color: #e2e3e4; 
    border-color: #e2e3e4;
}
.answer{
    background-color: #f0f0f0; 
    border-color: #f0f0f0;
}
.h200w200{
    width: 12.5rem; 
    height: 12.5rem;
}
.h30w100{
    height: 1.875rem; 
    width: 6.25rem;
}
.h500{
    height:31.25rem ;
}
.br12{
    border-radius: 12px;
}
.h60w60{
    height: 3.75rem;
    width: 3.75rem;
}
.h100w80{
    height: 6.25rem;
    width: 5rem;
}
.w-5{
    width: 5%;
}
.w-50{
    width: 50%;
}
.w-7{
    width: calc(100/7);
}
.w-95{
    width: 95%;
}
.backgrey{
    background-color:#AAAAAA;
}
.h25{
    height: 1.5625rem;
}
.productDesc{
    width: 100%;
}
.navborder{
    border-top: 1px solid #AAAAAA;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.bankIcon{
    height: 1.125rem;
}
.h30{
    height: 1.875rem;
}
.h50{
    height: 3.125rem;
}
.h144{
    height: 125px;
}
.w160{
    width: 10rem;
}
.w140{
    width: 140px;
}
.pt-0{
    padding-top: 0px;
}
.h40{
    height: 2.5rem;
}
.shoppingloanback{
    background-color: rgba(73, 199, 237,0.15);
}
.success{
    width: 3.5rem;
}
.username{
    height: .625rem;
}
.usercomment{
    background-color: #DDDDDD; 
    border: 1px solid #DDDDDD; 
    border-radius: 12px;
}
.userreview{
    background-color: #efefef; 
    border: 1px solid #DDDDDD; 
    border-radius: 12px;
}
.modalcarouselimage{
    width: 25rem; 
    height: 25rem;
}
.shoppingloansize{
    height:3.375rem;
    width: 3rem;
}
.w-180{
    width: 180px;
}
.reviewfilters{
    border-radius: 24px; 
    border-color: #DDDDDD;
}
.nav-link:active{
    color:black;
}
.hide{
    visibility: hidden;
}
.w50{
    width: 50px;
}
.card-img-top{
    padding-left: 5px;
    padding-top: 8px;
    width: 14rem;
    height: 11rem;
}
.card-img-col-2{
    max-width: 100%;
    max-height: 100%;
    padding-left: 10px;
    padding-top: 5px;
    width: 10.5rem;
    height: 9.5rem;
}
.cards2:hover >.card-body >.btn{
    display: block;
}
.cards2 >.card-body >.btn{
    display: none;
}
.cards2{
    height: 350px;
    width: 190px;
}
.card-img-col-sm-6{
    max-width: 100%;
    max-height: 100%;
    padding-left: 10px;
    padding-top: 5px;
    width: 10rem;
    height: 9rem;
}
/*
.cards3:hover >.card-body >.btn{
    display: block;
}
.cards3 >.card-body >.btn{
    display: none;
}
*/
.cards3{
    height: 350px;
    min-width: 10.5rem;
}
.modalTableRow{
    height: 55px;
}
.footer-images2{
    width: 3rem;
    height: 3rem;

}